/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --grey-body: #f7f8fa;
  --black-logo: #010101;
  --grey-text: #56585d;
  --lighter-grey: #dbdcde;
  --blue-editorial: #43b0f6;
  --violet-goals: #9d71e6;
  --green-recruiting: #63c1aa;
  --orange-mobile: #ef9f32;
  --pink-website: #d962a1;
  --green-sales: #afc923;
  --red-cross: #c06763;
  --green-check: #92c4b6;
}

body {
  background-color: var(--grey-body);
  font-family: "Roboto", sans-serif;
}

header,
main {
  background-color: white;
}

header {
  height: 100px;
}

header span {
  font-size: 3.5rem;
  font-weight: 700;
}

.logo-img {
  width: 60px;
  margin: 20px 0 0 20px;
}

main {
  width: 80%;
  margin: 50px auto;
  border-radius: 8px;
}

.add-section {
  padding: 20px 50px;
}

button {
  padding: 11px 16px;
  margin: 0 3px;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 10px;
}

/* #region BUTTONS */

.btn-blue {
  background-color: var(--blue-editorial);
}

.btn-white {
  color: var(--lighter-grey);
  background-color: white;
  border: 2px solid var(--lighter-grey);
}

.btn-violet {
  background-color: var(--violet-goals);
}

.btn-green {
  background-color: var(--green-recruiting);
}

.btn-orange {
  background-color: var(--orange-mobile);
}

.btn-pink {
  background-color: var(--pink-website);
}

.btn-lighter-green {
  background-color: var(--green-sales);
}
/* #endregion BUTTONS */
