/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --grey-body: #f7f8fa;
  --black-logo: #010101;
  --grey-text: #56585d;
  --lighter-grey: #dbdcde;
  --blue-editorial: #43b0f6;
  --violet-goals: #9d71e6;
  --green-recruiting: #63c1aa;
  --orange-mobile: #ef9f32;
  --pink-website: #d962a1;
  --green-sales: #afc923;
  --red-cross: #c06763;
  --green-check: #76bca9;
}

body {
  background-color: var(--grey-body);
  font-family: "Roboto", sans-serif;
}

header,
main {
  background-color: white;
}

header {
  height: 100px;
}

header span {
  font-size: 3.5rem;
  font-weight: 700;
}

.logo-img {
  width: 60px;
  margin: 20px 0 0 20px;
}

main {
  width: 80%;
  margin: 50px auto;
  border-radius: 8px;
}

.add-section {
  padding: 20px 50px;
  border-bottom: 1px solid var(--grey-body);
}

button {
  padding: 11px 16px;
  margin: 0 3px;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 10px;
}

.list {
  padding: 50px;
}

.list-section {
  margin-bottom: 30px;
}

.list-section h2 {
  margin-bottom: 15px;
}

.list-row {
  margin-bottom: 20px;
}
.row-text {
  font-size: 1.3rem;
  padding-left: 5px;
}

.check {
  color: var(--green-check);
  padding: 3px 5px;
  border: 1px solid var(--green-check);
  border-radius: 50%;
}

.cross {
  color: var(--red-cross);
  padding: 3px 5px;
  border: 1px solid var(--red-cross);
  border-radius: 50%;
}
/* #region BUTTONS */

.btn-blue {
  background-color: var(--blue-editorial);
}

.btn-blue:hover {
  background-color: rgb(42, 139, 229);
}

.btn-white {
  color: var(--lighter-grey);
  background-color: white;
  border: 2px solid var(--lighter-grey);
}

.btn-white:hover {
  background-color: var(--lighter-grey);
  color: white;
}

.btn-violet {
  background-color: var(--violet-goals);
}

.btn-violet:hover {
  background-color: rgb(87, 12, 117);
}

.btn-green {
  background-color: var(--green-recruiting);
}

.btn-green:hover {
  background-color: green;
}

.btn-orange {
  background-color: var(--orange-mobile);
}

.btn-orange:hover {
  background-color: rgb(255, 124, 77);
}

.btn-pink {
  background-color: var(--pink-website);
}

.btn-pink:hover {
  background-color: rgb(255, 103, 129);
}

.btn-lighter-green {
  background-color: var(--green-sales);
}

.btn-lighter-green:hover {
  background-color: rgb(115, 155, 51);
}
/* #endregion BUTTONS */
