/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --grey-body: #f7f8fa;
  --black-logo: #010101;
  --grey-text: #56585d;
  --lighter-grey: #dbdcde;
  --blue-editorial: #43b0f6;
  --violet-goals: #9d71e6;
  --green-recruiting: #63c1aa;
  --orange-mobile: #ef9f32;
  --pink-website: #d962a1;
  --green-sales: #afc923;
  --red-cross: #c06763;
  --green-check: #92c4b6;
}

body {
  background-color: var(--grey-body);
  font-family: "Roboto", sans-serif;
}

header,
main {
  background-color: white;
}

header {
  height: 100px;
}

header span {
  font-size: 3.5rem;
  font-weight: 700;
}

.logo-img {
  width: 60px;
  margin: 20px 0 0 20px;
}
